body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #020617, #0f172a);
  color: white;
}

.container {
  padding: 20px;
  text-align: center;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
}

select, input {
  padding: 10px;
  margin-top: 10px;
  width: 80%;
  border-radius: 10px;
}

button {
  padding: 15px;
  margin-top: 15px;
  width: 80%;
  background: #22c55e;
  border: none;
  border-radius: 10px;
  color: white;
}

#wallet {
  color: #38bdf8;
}