body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

.container {
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 28px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
}

select {
  padding: 10px;
  width: 80%;
  margin-top: 10px;
  border-radius: 10px;
}

button {
  margin-top: 15px;
  padding: 15px;
  width: 80%;
  background: #22c55e;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: white;
}

.result {
  margin-top: 20px;
  font-size: 18px;
}
#wallet {
  margin-top: 10px;
  font-size: 14px;
  color: #38bdf8;
}